<ul class="nav navbar-nav">
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="navLink" [routerLink]="['./']" >
      <i class="fa fa-fw fa-list"></i>Lista prelekcji
    </a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="navLink" [routerLink]="['create/lecture']" >
      <i class="fa fa-fw fa-plus-square-o"></i>Utwórz prelekcję
    </a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="navLink" [routerLink]="['speakers']" >
      <i class="fa fa-fw fa-id-badge"></i>Lista prelegentów
    </a>
  </li>
  <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
    <!--<a class="navLink" [routerLink]="['create/speaker']" >-->
      <!--Dodaj prelegenta-->
    <!--</a>-->
  <!--</li>-->
</ul>

