<p>
  Nawigacja wykładów:
</p>
<ul class="nav">
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['./']" >
      Lista wykładów
    </a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['create/lecture']" >
      Utwórz wykład
    </a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['speakers']" >
      Lista prelegentów
    </a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['create/speaker']" >
      Dodaj prelegenta
    </a>
  </li>

</ul>
