<!--opis, fotografia, agenda, prelegenci, opinie, przycisk rejestracji[jeśli możliwa w danej chwili],transmisja live*</li>-->
<!--przy rozwijaniu mobila zaslania nawigacje wewnetrzna-->
<!--<div style="margin-bottom: 80px"></div>-->
<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class=" event-navigation-bar">-->

      <!--<div class="divNav" align="center">-->
        <!--<div class="partLine"></div>-->
          <!--<a class="elemNav" (click)="goTo('description')"><span>Opis</span></a>-->
          <!--<a class="elemNav" (click)="goTo('lectures')"><span>Agenda</span></a>-->
          <!--<a class="elemNav" (click)="goTo('speakers')"><span>Mówcy</span></a>-->
          <!--<a class="elemNav" (click)="goTo('registration')"><span>Rejestracja</span></a>-->
          <!--<a class="elemNav" (click)="goTo('localization')"><span>Lokalizacja</span></a>-->
        <!--<div class="partLine"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--OBRAZ-->
<div id="title" class="row">
  <div class="col-md-12 ">
    <div class="image">
      <img [src]="imageUrl" style="width: 100%" class="img-responsive"/>
      <div class="imageHeader" style="font-size: 250%;">
        <h1>{{event.title}}</h1>
      </div>
    </div>
  </div>
</div>



<!--MIEJSCE DATA-->
<div id="placeTime" class="row darkBack">
  <div class="col-md-6">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h1><i class="fa fa-calendar"></i></h1>
      <h3><i class="fa fa-fw fa-play"></i>{{event.startTime|date}}</h3>
      <h3><i class="fa fa-fw fa-stop"></i>{{event.endTime|date}}</h3>
    </div>
  </div>
  <div class="col-md-6  ">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h1><i class="fa fa-map-marker"></i></h1>
      <h3>{{event.cityName}}</h3>
      <h4>{{event.streetName}} {{event.streetNo}}</h4>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--OPIS-->
<div id="description" class="row">
  <div class="col-md-10 col-md-offset-1 ">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h4>{{event.description}}</h4>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--AGENDA-->
<div id="lectures"  *ngIf="isLectures" class="row darkBack">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-clock-o"></i>AGENDA</h2>
      <div class="list-group lecturesList" align="left">
        <a *ngFor="let i of event.lectures" (click)="modal2.show(i,i.eventViewSpeaker)" class="list-group-item active lecture clickable">
          <div class="row">
            <div class="col-md-5">
              <p><i class="fa fa-clock-o"></i> {{i.startTime | date:'shortDate'}} {{i.startTime | date:'shortTime'}}</p>
            </div>
            <div class="col-md-7" style="font-weight: lighter">
              <p>{{i.eventViewSpeaker.firstname}} {{i.eventViewSpeaker.lastname}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="font-style: italic">
              <h2 class="list-group-item-heading"><i class="fa fa-fw fa-quote-right"></i>{{i.lectureName}}</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--OKNO SZCZEGOLOW WYDARZENIA-->
<app-lecture-view #modal2>
  <div class="app-modal-header"></div>
  <div class="app-modal-body"></div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal2.save(event.idEvent)">Save changes</button>
  </div>
</app-lecture-view>



<!--MOWCY-->
<div id="speakers"  *ngIf="isSpeakers" class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-microphone"></i>WYSTĘPUJĄ</h2>
       <div class="col-sm-6 col-md-4 " *ngFor="let i of event.speakers" (click)="modal3.show(i)">
         <div class="thumbnail lecture clickable">
           <img [src]=getImageUrl(i.idSpeaker) style="width: 100%" >
           <div class="caption">
             <h3>{{i.firstname}} {{i.lastname}}</h3>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--OKNO SZCZEGOLOW MOWCY-->
<app-speaker-view #modal3>
  <div class="app-modal-header"></div>
  <div class="app-modal-body"></div>
  <div class="app-modal-footer"></div>
</app-speaker-view>
<!--END OKNO-->


<!--REJESTRACJA-->
<div id="registration" *ngIf="event.registerEnabled" class="row darkBack">
  <div class="col-md-offset-1 col-md-10">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-id-card"></i>REJESTRACJA</h2>
      <button  (click)="modal1.show(event.idEvent)" class="btn lecture clickable btn-lg">ZAREJESTRUJ SIĘ</button>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--OKNO REJESTRACJI NA WYDARZENIE-->
<app-register-participant #modal1>
  <div class="app-modal-header"></div>
  <div class="app-modal-body"></div>
  <div class="app-modal-footer"> </div>
</app-register-participant>
<!--END: OKNO-->



<!--LOKALIZACJA-->
<div id="localization" class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-crosshairs"></i>LOKALIZACJA</h2>
      <div class="col-md-9">
        <!--MAPA-->
        <div class="map-pannel" style="margin-bottom: 5%; margin-top: 5%">
            <sebm-google-map class="map-wrapper" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
              <sebm-google-map-marker *ngFor="let m of markers; let i = index" [iconUrl]="m.iconUrl" [latitude]="m.lat" [longitude]="m.lng"  [label]="m.label"  [markerDraggable]="m.draggable">
              </sebm-google-map-marker>
            </sebm-google-map>
        </div>
        <!--END: MAPA-->
      </div>
      <div class="col-md-3 " style="margin-bottom: 5%; margin-top: 15%">
        <h3>{{event.cityName}}, {{event.regionName}}</h3>
        <h2>{{event.streetName}} {{event.streetNo}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="fullLine"></div>



<!--TRANSMISJA-->
<div id="live" *ngIf="isLiveYT" class="row darkBack">
  <div class="col-md-offset-1 col-md-10">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-youtube"></i>Transmisja LIVE</h2>
      <iframe class="myIFrame" [src]='url' frameborder="5" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="fullLine"></div>




<!--OPINIE-->
<div id="lectures"  class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron" style="background-color: inherit" align="center">
      <h2><i class="fa fa-fw fa-clock-o"></i>OPINIE</h2>
      <div class="list-group lecturesList" align="left">
        <a *ngFor="let i of opinions" class="list-group-item active lecture">
          <div class="row">
            <div class="col-md-3">
              <p>{{i.email}}</p>
            </div>
            <div class="col-md-offset-7 col-md-2" style="font-weight: lighter" align="right">
              <p> {{i.createDate | date:'shortDate'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="font-style: italic">
              <p>{{i.content}}</p>
            </div>
          </div>
        </a>
        <a class="list-group-item active lecture clickable" (click)="modal4.show(event.idEvent)" style="text-align: center">
          <h4>DODAJ OPINIE</h4>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="fullLine"></div>


<!--OKNO DODAWANIA OPINII-->
<app-create-opinion #modal4>
  <div class="app-modal-header"></div>
  <div class="app-modal-body"></div>
  <div class="app-modal-footer"></div>
</app-create-opinion>
<!--END: OKNO-->

