<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"  class="navbar-toggle collapsed" (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span><!--Info dla screen readerow-->
        <span class="icon-bar"></span><!--poziome kreski przycisku-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color: #f9f2f4; font-size: x-large" class="navbar-brand" [routerLink]="['/']">
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
        EV<b>enter</b>
      </a>

    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
      <!--NAWIGACJA MOBIL + PELNA WERSJA-->
      <ul class="nav navbar-nav">

        <!-- STRONA GLOWNA [ALL]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['home']">
            <i class="fa fa-tachometer fa-icon-margin"></i> Strona główna
          </a>
        </li>

        <!-- WYSZUKAJ WYDARZENIA [GUEST+USER+ADMIN]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['search']">
            <i class="fa fa-file-text fa-icon-margin"></i> Wyszukaj wydarzenia
          </a>
        </li>

        <!-- UTWORZ WYDARZENIE [GUEST+USER]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.isUser() || !auth.isLoggedIn()">
          <a [routerLink]="['event/create']">
            <i class="fa fa-gears fa-icon-margin"></i> Utwórz wydarzenie
          </a>
        </li>

        <!-- Administracja wydarzen [ADMIN]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.isAdmin()">
          <a [routerLink]="['administration/events']">
            <i class="fa fa-gears fa-icon-margin"></i> Administracja wydarzeń
          </a>
        </li>

        <!-- Administracja użytkownikow [ADMIN]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.isAdmin()">
          <a [routerLink]="['administration/users']">
            <i class="fa fa-gears fa-icon-margin"></i> Administracja użytkowników
          </a>
        </li>

        <!-- Statystyki [ADMIN]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.isAdmin()">
          <a [routerLink]="['administration/statistics']">
            <i class="fa fa-gears fa-icon-margin"></i> Statystyki serwisu
          </a>
        </li>

        <!-- MOJE WYDARZENIA [USER]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="auth.isUser()">
          <a [routerLink]="['event/my']">
            <i class="fa fa-gears fa-icon-margin"></i> Moje wydarzenia
          </a>
        </li>

        <!-- DEMO -->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['demo']">
            <i class="fa fa-gears fa-icon-margin"></i> DEMO
          </a>
        </li>








        <!-- KONTO MOBILNA WERSJA [USER+ADMIN]-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="isIn && auth.username != null">
          <a [routerLink]="['account']" >
            <i class="fa fa-user-circle-o"></i> {{auth.username}}
          </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="isIn && !auth.isLoggedIn()">
          <a [routerLink]="['register']" >
            Rejestracja
          </a>
        </li>

        <!-- LOGOWANIE/WYLOGOWANIE DLA MOBILNEGO [USER+ADMIN]->
        <!-- USER -->
        <li *ngIf="isAuth() && isIn">
          <a href="#" (click)="logout()" >
            <i class="fa fa-sign-out"  ></i>
            Logout
          </a>
        </li>
        <!-- GOSC -->
        <li *ngIf="!isAuth() && isIn">
          <a [routerLink]="['login']">
            <i class="fa fa-sign-in"></i>
            Log in
          </a>
        </li>


      </ul>
      <!--END: NAWIGACJA MOBIL + PELNA WERSJA->

      <!--LOGOWANIE/WYLOGOWANIE DLA PELNEJ WERSJI <PRAWA STRONA PASKA> [USER+ADMIN]-->
      <!-- USER -->
      <ul class="nav navbar-nav pull-right" *ngIf="!isIn">
        <li *ngIf="auth.username != null">
          <a [routerLink]="['account']" >
            <i class="fa fa-user-circle-o"></i> {{auth.username}}
          </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!isIn && !auth.isLoggedIn()">
          <a [routerLink]="['register']" >
            Rejestracja
          </a>
        </li>
        <li *ngIf="isAuth()">
          <a href="#" (click)="logout()" >
            <i class="fa fa-sign-out"  ></i>
            Logout
          </a>
        </li>
        <!-- GOSC -->
        <li *ngIf="!isAuth()">
          <a [routerLink]="['login']">
            <i class="fa fa-sign-in"></i>
            Log in
          </a>
        </li>
      </ul>
      <!--END: Prawa strona paska nawigacji [Pelny ekran]-->

    </div>
