<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1>Informacje o niezbędnych dokumentach</h1>
    <p><b>UŻYTKOWNIKU</b> jeśli Twoja impreza kwalifikuje się jako <i>impreza masowa</i>,<br> <b>PAMIĘTAJ</b> o złożeniu koniecznych dokumentów.</p>

    <p>Rodzaje imprez masowych wymagające  złożenia wniosku: <br>
      W budynku, impreza kwalifikowana jako bezpieczna (500 osób, 200 osób jeśli sportowa)<br>
      W budynku impreza kwalifikowana  jako z podwyższonym ryzykiem (200 osób)<br>
      Stadion/plener impreza kwalifikowana jako bezpieczna (1000 osób)<br>
      Stadion/plener impreza kwalifikowana  jako z  podwyższonym ryzykiem (200 osób)</p>


    <p><b>UWAGA!</b> Imprezy masowe nie wymagające dokumentów:<br>
      Miejsce imprezy: <br>
      teatr, opera, operetka, filharmonia, kino, muzeum, biblioteka, dom kultury, galeria sztuki i innych podobnych obiektach w szkołach i placówkach oświatowych  przez zarządzających tymi szkołami i placówkami w ramach współzawodnictwa sportowego dzieci i młodzieży. <br><br>
      Inne charakterystyki imprez:<br>
      imprezy sportowe organizowane dla sportowców niepełnosprawnych,<br>
      imprezy sportu powszechnego o charakterze rekreacji ruchowej, ogólnodostępnym i nieodpłatnym, organizowane na terenie otwartym<br></p>

    <p><b>WAŻNE INFORMACJE</b> dla użytkownika: złożenie takiego wniosku do właściwego urzędu kosztuje 82 zł i należy go złożyć <b>30 dni przed imprezą.</b><br>
      Dokładna instrukcja dotycząca złożenia wniosku mogą Państwo znaleźć na stronie:<br>
      <a href="http://www.um.warszawa.pl/zalatw-sprawe-w-urzedzie/sprawa-w-urzedzie/wydawanie-zezwolenia-na-przeprowadzenie-imprezy-masowej">http://www.um.warszawa.pl/zalatw-sprawe-w-urzedzie/sprawa-w-urzedzie/wydawanie-zezwolenia-na-przeprowadzenie-imprezy-masowej</a>
    </p>



    <table class="table table-striped table-bordered">
      <thead style="background-color:#df382c; color: white; ">
        <tr align="center">
          <td></td>
          <td><i class="fa fa-fw fa-university"></i>Podmiot docelowy</td>
          <td><i class="fa fa-fw fa-file-word-o"></i>Dokument</td>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of documents; let i = index">
        <td align="center">{{i+1}}</td>
        <td><b>{{doc}}</b></td>
        <td><button class="btn btn-danger btn-block" (click)="downloadFile(i)"><i class="fa fa-fw fa-download"></i>Pobierz</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
