<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <H1>Informacje o wymaganych dokumentach</H1>
    <p>Fusce in leo feugiat, laoreet augue sed, faucibus odio. Aenean maximus luctus elementum. Praesent vitae mi condimentum, feugiat lacus vel, euismod diam. Phasellus venenatis dolor non erat fringilla vulputate. Aliquam erat volutpat. Nulla nec risus pulvinar, pharetra risus at, lobortis nulla. Sed erat libero, aliquam a hendrerit ac, mattis sed libero. Integer efficitur, metus in condimentum maximus, lacus quam consectetur tellus, in maximus sem massa eu sapien. Aenean vitae dapibus mauris. Suspendisse bibendum felis tincidunt, varius tellus non, ornare nunc. Phasellus vulputate iaculis risus, sit amet ultricies sapien finibus ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida fringilla fermentum. Mauris dictum purus id ante vulputate, sed sodales turpis pretium.</p>

    <table class="table table-striped table-bordered">
      <thead style="background-color:#df382c; color: white; ">
        <tr align="center">
          <td></td>
          <td><i class="fa fa-fw fa-university"></i>Podmiot docelowy</td>
          <td><i class="fa fa-fw fa-file-word-o"></i>Dokument</td>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of documents; let i = index">
        <td align="center">{{i+1}}</td>
        <td><b>{{doc}}</b></td>
        <td><button class="btn btn-danger btn-block" (click)="downloadFile(i)"><i class="fa fa-fw fa-download"></i>Pobierz</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
