<div>
  <!--Pasek nawigacji-->
  <navigation-bar></navigation-bar>

  <!--Przy przejsciu miedzy podstronami bedzie animacja w tym tagu & brak powrotu na gore strony-->
  <!--<ng2-page-transition [scrollTop]="false">-->

  <div style="margin-top: 60px">
    <!--Za pomoca routera umieszczany jest w tym miejscu html wybranej podstrony aplikacji-->
    <router-outlet></router-outlet>
  </div>
    <!--Stopka dla kazdej podstrony-->
    <app-footer></app-footer>
  <!--</ng2-page-transition>-->


</div>
