<div style="height: 40px"></div>
<!-- CALA TRESC STRONY ------------------ ----------------- ----------------- -->

<!-- CIALO WYSZUKIWANIA -->
<div class="row">
  <!--SRODEK GLOWNE CIALO-->
  <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <!--WYSZUKIWARKA-->
    <div class="row">
      <div class="col-md-offset-1 col-md-10 searchBlock col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <!--FORMULARZ-->
        <form>
          <div class="fullLine"></div>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group-lg" >
                <input type="text" placeholder="Jakich użytkowników chcesz moderować?" class="form-control" id="textContent" [(ngModel)]="userSearchForm.textContent" name="textContent" [formControl]="complexForm.controls['textContent']">
              </div>
            </div>
            <div class="col-md-2">
              <div><button class="btn btn-block btn-lg" (click)="postSearchByCriteria()">Szukaj</button></div>
            </div>
          </div>
          <div class="fullLine"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="fullLine"></div>

<!-- CIALO LISTY ZWROTNEJ -->
<div class="row">
  <!--SRODEK GLOWNE CIALO-->
  <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <div class="row" *ngIf="isLoading" align="center">
      <img class="img-responsive"style="width: 15%" src="../assets/images/loading2.gif" />
    </div>
    <!--LISTA ZWROTNA-->
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-offset-1 col-md-10">
        <!--NAGLOWEK LISTY-->
        <div class="row">
          <div class="col-md-12 resultBlock">
            <h2 *ngIf="userSearchResultFull?.length>0">Znaleziono {{userSearchResultFull?.length}} userów</h2>
            <h2 *ngIf="userSearchResultFull?.length<=0">Nie znaleziono userów</h2>
            <div class="row resultBlock" *ngIf="userSearchResultFull?.length>0">
              <div class="col-md-offset-1 col-md-10">
                <nav aria-label="...">
                  <ul class="pager">
                    <li class="myHover" *ngIf="isPrevAvl"><a (click)="prevPage()"><i class="fa fa-arrow-left"></i> Poprzednie</a></li>
                    <li class=""><span>Strona {{siteNo+1}}/{{siteCount}}</span></li>
                    <li class="myHover" *ngIf="isNextAvl"><a (click)="nextPage()">Następne <i class="fa fa-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <br>
        </div>
        <!--CIALO LISTY-->
        <div class="row">
          <div *ngFor="let i of userSearchResult">
            <div class="panel panel-default eventPanel">
              <!--GORA EVENTU-->

              <div class="panel-body" >
                <!--TYTUL, DATA STARTU, MOZLIWA REJESTRACJA?, BEZPLATNE? TRANSMISJA?-->
                <div class="row">
                  <div class="col-md-11">
                    <div class="col-md-4">
                      <H2><strong>Użytkownik: </strong></H2>
                      <strong>
                      Imię i nazwisko: <br>
                      Email: <br>
                      Telefon:
                      </strong>
                    </div>
                    <div class="col-md-4">
                      <H2>{{i.username}}</H2>
                      {{i.firstname}} {{i.lastname}}<br>
                      {{i.email}}<br>
                      {{i.phone}}
                    </div>
                    <div class="col-md-4">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div style="margin-top: auto; margin-bottom: auto">
                      <div class="row" (click)="modal6.show(i.id)"><!--AKTYWNE-->

                        <span class="myIcon" style="color: rgba(255,15,24,0.8)">
                          <i class="fa fa-fw fa-trash"></i>
                        </span>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!--END GORA EVENTU-->
              <!--DOL EVENTU-->
              <div class="panel-footer eventFooter">
              </div>
              <!--END DOL EVENTU-->
            </div>
            <div class="fullLine"></div>
          </div>
        </div>
        <!--END CIALO LISTY-->
        <!--STOPKA LISTY-->
        <div class="row resultBlock" *ngIf="userSearchResultFull?.length>0">
          <div class="col-md-offset-1 col-md-10">
            <nav aria-label="...">
              <ul class="pager">
                <li class="myHover" *ngIf="isPrevAvl"><a (click)="prevPage()"><i class="fa fa-arrow-left"></i> Poprzednie</a></li>
                <li class=""><span>Strona {{siteNo+1}}/{{siteCount}}</span></li>
                <li class="myHover" *ngIf="isNextAvl"><a (click)="nextPage()">Następne <i class="fa fa-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!--END STOPKA LISTY-->
      </div>
    </div>
  </div>
</div>


<app-account-mail-modal #modal6>
  <div class="app-modal-header"></div>
  <div class="app-modal-body"></div>
  <div class="app-modal-footer"></div>
</app-account-mail-modal>


