<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select=".app-modal-header"></ng-content>
        <div class="row">
          <div class="col-md-10">
            <h2>Ukrycie wydarzenia</h2>
          </div>
          <div class="col-md-1" style="color: black; background-color: white">
            <h2><a (click)="hide()"><i class="fa fa-window-close-o"></i></a></h2>
          </div>
        </div>
      </div>
      <!-- BODY -->
      <div class="modal-body">
        <ng-content select=".app-modal-body"></ng-content>
        <!--FORMULARZ-->
        <form (ngSubmit)="save(complexForm.value)" [formGroup]="complexForm" *ngIf="!successAdd">
          <div class="row">
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['myContent'].valid && complexForm.controls['myContent'].touched}">
              <label>Treść</label>
              <textarea class="form-control" placeholder="Powód ukrycia wydarzenia" name="myContent" [formControl]="complexForm.controls['myContent']"></textarea>
              <div *ngIf="complexForm.controls['myContent'].hasError('required') && complexForm.controls['myContent'].touched" class="alert alert-danger">Pole obowiązkowe.</div>
              <div *ngIf="complexForm.controls['myContent'].hasError('minlength') && complexForm.controls['myContent'].touched" class="alert alert-danger">Minimum 4 znaki.</div>
              <div *ngIf="complexForm.controls['myContent'].hasError('maxlength') && complexForm.controls['myContent'].touched" class="alert alert-danger">Maksimum 50 znaków.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <div *ngIf="!loading && !successAdd">
                <div class="form-group">
                  <button type="submit" class="btn btn-default" [disabled]="!complexForm.valid">Wyślij wiadomość!</button>
                </div>
                <ng-content select=".app-modal-footer"></ng-content>
              </div>
              <div *ngIf="loading">
                <i class="fa fa-spin fa-spinner"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
