<table class="table">
  <tr style="background-color: #e95420">
    <td align="center"><h3>Id</h3></td>
    <td align="center"><h3>Nazwa</h3></td>
    <td align="center"><h3>Edytuj</h3></td>
  </tr>
  <tr *ngFor="let e of myEvents" class="tableRow">
    <td align="center">{{e.idEvent}}</td>
    <td align="center"><h3>{{e.title}}</h3></td>
    <td align="center"><span [routerLink]="['/event/dashboard/'+e.idEvent+'/edit']"><h3><i class="fa fa-pencil-square-o"></i></h3></span></td>
  </tr>
</table>

