<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <H1>Lista gości wydarzenia</H1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <!--TABELA-->
    <div class="panel panel-default">
      <!-- Naglowek -->
      <div class="panel-heading">Panel heading</div>

      <!-- Cialo -->
      <table class="table">
        <tr style="background-color: silver">
          <td>Nr</td>
          <td>Identyfikator</td>
          <td>E-mail</td>
          <td>Imię</td>
          <td>Nazwisko</td>
          <td>Obecny</td>
        </tr>
        <tr *ngFor="let g of guests,let i = index">
          <td>{{i}}</td>
          <td>{{g.idPartcipant}}</td>
          <td>{{g.email}}</td>
          <td>{{g.firstName}}</td>
          <td>{{g.lastName}}</td>
          <td>
            <span></span>
            {{g.presence}}
          </td>
        </tr>
      </table>
    </div>
    <!--END TABELA-->
  </div>
</div>
