<div class="row" style="padding-right: 5px;padding-left: 0">
  <div class="col-md-12" style="padding-left: 0">
    <!--TABELA-->
    <div class="panel panel-default">
      <!-- Naglowek -->
      <div class="panel-heading"><H1>Lista gości wydarzenia</H1></div>

      <!-- Cialo -->
      <table class="table">
        <tr style="background-color: #e95420">
          <td>Nr</td>
          <td>Identyfikator</td>
          <td>E-mail</td>
          <td>Imię</td>
          <td>Nazwisko</td>
          <td align="center">Obecny</td>
          <td>Akcja</td>
        </tr>
        <tr *ngFor="let g of guests,let i = index" class="tableRow">
          <td>{{i+1}}</td>
          <td>{{g.idPartcipant}}</td>
          <td>{{g.email}}</td>
          <td>{{g.firstName}}</td>
          <td>{{g.lastName}}</td>
          <td align="center">
            <span class="changeBox"*ngIf="g.presence"><i class="fa fa-check-square-o"></i></span>
            <span class="changeBox" *ngIf="!g.presence"><i class="fa fa-square-o"></i></span>
          </td>
          <td>
            <span class="changeSpan" *ngIf="g.presence" (click)="changePresence(g)">Cofnij</span>
            <span class="changeSpan" *ngIf="!g.presence" (click)="changePresence(g)">Przybył</span>
          </td>
        </tr>
      </table>
    </div>
    <!--END TABELA-->
  </div>
</div>
