.image {
  position: relative;
  width: 100%; /* for IE 6 */
  margin-top: -30px;
}

.imageHeader {
  position: absolute;
  top: 7%;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: -1px;
  /*background: rgb(0, 0, 0); !* fallback color *!*/
  /*background: rgba(253, 227, 0, 0.1);*/
  padding: 10px;
}

.spacer {
  margin-left: 15px;
}

/*KAFLE*/
.myTile {

  border-color: #e15221;
  border-radius: 5px;
}

.padding15{
  padding: 15px;
}

.tekstObrazka {
  text-align: center;
  margin: 10px;
  position: absolute;
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
