<div class="row">
  <div class="col-md-12">
    <div class="image">
      <img class="img-responsive"style="width: 100%" src="../assets/images/concert.gif" />
      <!--<img class="img-responsive"style="width: 100%" src="../assets/images/city.gif" />-->
      <div class="imageHeader" style="font-size: 250%;">
        <span> {{allGuests}} </span><span style="color: firebrick">Gości</span><br/>
        <span> {{createEvents}} </span><span style="color: firebrick">Wydarzeń</span><br/>
        <a href="#start" style="color: firebrick; font-size: larger"><i class="fa fa-chevron-down"></i></a><br/>
      </div>
    </div>

  </div>
</div>
<div id="start">&nbsp;</div>
<div class="text-home">
  <h1 class="marginTop50 marginBottom0 text-home-size">
    <strong>Informacje o </strong>
    <font color="#EB5225">EV<strong>enter</strong></font>
  </h1>
  _______________________
  <div class="padding-top10">
    EVenter to internetowy portal do towrzenia i udostępniania wydarzeń.
  </div>
  <div>
    Nasz portal oferuje Ci bezkonkurencyjne rozwiązania bez względu na to, jakie wydarzenie organizujesz.
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 marginTop80 row-border">
  <div class="col-lg-2 col-md-0 col-sm-0"></div>
  <div class="col-lg-2 col-md-3 col-sm-3">
    <img src="../assets/images/publish.png" class="img-home-description img-rounded img-responsive">
    <div class="text-description"><h5><strong>publikuj wydarzenie</strong></h5>Wprowadz informacje o swoim wydarzeniu, dodaj zdjęcie i publikuj jednym kliknięciem!</div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-3">
    <img src="../assets/images/play.png" class="img-home-description img-rounded img-responsive">
    <div class="text-description"><h5><strong>zapraszaj ludzi</strong></h5>Miej pod kontrolą, jak wiele osoób zadeklarowało swoje przybycie na wydarzenie.</div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-3">
    <img src="../assets/images/accept.png" class="img-home-description img-rounded img-responsive">
    <div class="text-description"><h5><strong>dodaj prelegentów</strong></h5>Wprowadź dane o prelegentach, dzięki temu Twoje wydarzenie będzie lepiej odbierane w środowiskach do których ma trafić.</div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-3">
    <img src="../assets/images/pacman.png" class="img-home-description img-rounded img-responsive">
    <div class="text-description"><h5><strong>sprawdź dostępnosć</strong></h5>Sprawdzaj online listę zadeklarowanych osób, które mają się zjawić</div>
  </div>
  <div class="col-lg-2 col-md-0 col-sm-0"></div>
</div>

<div class="row col-lg-12 col-md-12 col-sm-12 marginTop80">
  <div  class="col-lg-6 col-md-6 col-sm-6">
    <img src="../assets/images/apple.png" class="img-home-description-apple img-rounded img-responsive">
  </div>
  <div class="wrap">
  <div class="col-lg-6 col-md-6 col-sm-6 possibility" [@possibility]="possibilityState">
    <h4><strong>Nasz portal oferuje bezkonkurecyjne rozwiązania w zakresie:</strong></h4>
    <div class="marginTop30">
      <i class="fa fa-check"></i> Tworzenia wydarzeń
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Gromadzenia i uzupełniania dokumentów, potrzebnych do organizacji imprez masowych
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Gromadzenia i kontrolowania na bieżąco listy gości na wydarzeniach
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Sprawdzania listy obecności na wydarzeniach
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Zbierania ocen, dzięki którym Twoje wydarzenia trafią do jeszcze szerszego grona osób!
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Dodawania proelegentów oraz prelekcji jakie mają zostać wygłoszone
    </div>
    <div class="style-description-check">
      <i class="fa fa-check"></i> Wyszukiwania wydarzeń w Twojej okolicy!
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 statistic marginTop30" [@possibility]="statisticState">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statistic-color1 statistic-design">
        <div class="statistic-circle-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>{{createEvents}}</strong>
        </div>
        <div>
          utworzonych wydarzeń
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statistic-color2 statistic-design">
        <div class="statistic-circle-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>{{activeUsers}}</strong>
        </div>
        <div>
          aktywnych użytkowników
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statistic-color3 statistic-design">
        <div class="statistic-circle-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>{{allVisitors}}</strong>
        </div>
        <div>
          wyświetleń
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 statistic-color4 statistic-design">
        <div class="statistic-circle-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong>{{avgVisitors}}</strong>
        </div>
        <div>
          średnio odwiedzających na wydarzenie
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!--<h1>Podglad wydarzeń</h1>-->
<div class="text-home marginTop80 col-lg-12 col-md-12 col-sm-12">
  <h2><strong>Zobacz nasze najnowsze wydarzenia!</strong></h2>
</div>
<div class="row" class="padding0 col-lg-12 col-md-12 col-sm-12 marginTop10">
  <figure class="col-lg-3 col-md-4 col-sm-6 col" *ngFor="let i of latestEvents">
      <div class="col-lg-12 col-md-12 col-sm-12 blur pading0" id="obrazek" (click)="goToEvent(i.idEvent)">
        <figure>
        <img [src]="imageUrl+i.idEvent" class="img-rounded img-responsive img-style-events" alt=""/>
          <figcaption>
            <h3>{{i.title}}</h3>
            Data: {{i.createDate |  date }}
          </figcaption>
        </figure>
      </div>
  </figure>
</div>


<!--<img [src]="imageUrl" style="width: 100%" class="img-responsive"/>-->
<!--<div class="imageHeader" style="font-size: 250%;">-->
  <!--<h1>{{event.title}}</h1>-->
<!--</div>-->
