<div class="row">
  <div class="col-md-12">
    <div class="image">
      <img class="img-responsive"style="width: 100%" src="../assets/images/concert.gif" />
      <!--<img class="img-responsive"style="width: 100%" src="../assets/images/city.gif" />-->
      <div class="imageHeader" style="font-size: 250%;">
        <span> 64325 </span><span style="color: firebrick">Gości</span><br/>
        <span>4235 </span><span style="color: firebrick">Wydarzeń</span><br/>
        <a href="#start" style="color: firebrick; font-size: larger"><i class="fa fa-chevron-down"></i></a><br/>
      </div>
    </div>

  </div>
</div>

ZAWARTOSC:
<ul id="start">
  <li>Krótki opis o co chodzi w stronie, proces w kilku słowach i obrazkach.</li>
  <li>Ilość eventów, ilość userów, ilość gości</li>
  <li>Np. 3 najnowsze wydarzenie</li>
</ul>
DANE:
<ul>
  <li>Dane statystyczne [Klasa HomeStatistics z 3 danymi statystycznymi]</li>
  <li>Lista najnowszych wydarzeń [Iterable Event]</li>
</ul>

<!--<h1>Podglad wydarzeń</h1>-->

<div class="row" class="padding0">
  <div class="col-lg-3 col-md-4 col-sm-6 col" *ngFor="let i of latestEvents">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 blur pading0" id="obrazek" (click)="goToEvent(i.idEvent)">
        <img [src]="imageUrl" class="img-rounded img-responsive" alt=""/>
        <div class="napis col-lg-12 col-md-12 col-sm-12" style="width: 94%; margin-top: 11% ">
          <h3>{{i.title}}</h3>
          Data utworzenia: {{i.createDate | date}}
        </div>
      </div>
    </div>
  </div>
</div>




