<div id="mySideMap" class="sidePage">
  <div class="map-pannel" id="mapPannel">  <!--MAPA-->
    <sebm-google-map class="map-wrapper" id="SebmGoogleMap"
             [latitude]="defaultLat"
             [longitude]="defaultLng"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             [zoomControl]="false"
             (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.title, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>{{m.title}}</strong>
          <p>
            {{m.startTime|date}}
          </p>
          <p>
            {{m.description}}
          </p>
          <p>
            <a (click)="goToEvent(m.idEvent)"> Przejdź do strony wydarzenia <i class="fa fa-fw fa-external-link"></i>  </a>
          </p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>

    </sebm-google-map>
  </div><!--END MAPA-->
  <a class="closebtn" (click)="changeSlideStatus()">
    <i [hidden]="!isSlideHide" class="fa fa-caret-square-o-right myHover"></i>
    <i [hidden]="isSlideHide" class="fa fa-caret-square-o-left myHover"></i>
  </a>
  <div id="mySideMapTitle" [hidden]="isSlideHide" ><h3>Kliknij w miejscu gdzie szukasz wydarzeń. Zasięg: {{kilometersRange}} km.</h3>
    <form>
      <input type="range" #ref name="points" min="1" max="250" (change)="changeRange(ref.value)">

      <div class="form-group">
        <input type="hidden" class="form-control" id="geoLength" [(ngModel)]="myGeoLength" name="geoLength" >
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" id="geoWidth" [(ngModel)]="myGeoWidth" name="geoWidth">
      </div>
    </form>
  </div>
</div>

<div style="height: 40px"></div>
<!-- CALA TRESC STRONY ------------------ ----------------- ----------------- -->

<!-- CIALO WYSZUKIWANIA -->
<div class="row">
  <!--SRODEK GLOWNE CIALO-->
  <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <!--WYSZUKIWARKA-->
    <div class="row">
      <div class="col-md-offset-1 col-md-10 searchBlock col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <!--FORMULARZ-->
        <form>
          <div class="fullLine"></div>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group-lg" >
                <input type="text" placeholder="Czego szukasz?" class="form-control" id="textContent" [(ngModel)]="eventSearchForm.textContent" name="textContent" [formControl]="complexForm.controls['textContent']">
                </div>
            </div>
            <div class="col-md-2">
              <div><button class="btn btn-block btn-lg" (click)="postSearchByCriteria()">Szukaj</button></div>
            </div>
          </div>

          <div class="fullLine"></div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group" >
                <label for="dateFrom">Od:</label>
                <input type="date" class="form-control" id="dateFrom" [(ngModel)]="dataRozpoczeciaPomoc" name="dateFrom" [formControl]="complexForm.controls['dateFrom']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" >
                <label for="dateTo">Do:</label>
                <input type="date" class="form-control" id="dateTo" [(ngModel)]="dataZakonczeniaPomoc" name="dateTo" [formControl]="complexForm.controls['dateTo']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="regionName">Region:</label>
                <select class="form-control" [(ngModel)]="eventSearchForm.region" name="regionName" id="regionName" (click)="getEventCities(eventSearchForm.region)">
                  <option *ngFor="let i of regions" [ngValue]="i">{{i?.regionName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="cityName">Miasto:</label>
                <select class="form-control" [(ngModel)]="eventSearchForm.city" name="cityName" id="cityName">
                  <option *ngFor="let i of cities" [ngValue]="i">{{i?.cityName}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="eventTypeName">Typ wydarzenia:</label>
                <select class="form-control" [(ngModel)]="eventSearchForm.eventType" name="eventTypeName" id="eventTypeName">
                  <option *ngFor="let i of eventTypes" [ngValue]="i">{{i?.eventTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" align="center" >
                <div class="checkbox" style="margin-top: 30px">
                  <h3><label><input type="checkbox" [(ngModel)]="eventSearchForm.freeEntrance" name="freeEntrance" id="freeEntrance" value="">Wstęp bezpłatny</label></h3>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" align="center">
                <div class="checkbox" style="margin-top: 30px">
                  <h3><label><input type="checkbox" [(ngModel)]="eventSearchForm.registerEnabled" name="registerEnabled" id="registerEnabled" value="">Rejestracja możliwa</label></h3>
                </div>
              </div>
            </div>
          </div>


          <div class="fullLine"></div>

        </form>

      </div>

    </div>
  </div>
</div>

<div class="fullLine"></div>


<!-- CIALO LISTY ZWROTNEJ -->
<div class="row">
  <!--SRODEK GLOWNE CIALO-->
  <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <div class="row" *ngIf="isLoading" align="center">
      <img class="img-responsive"style="width: 15%" src="../assets/images/loading2.gif" />
    </div>
    <!--LISTA ZWROTNA-->
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-offset-1 col-md-10">
        <!--NAGLOWEK LISTY-->
        <div class="row">
          <div class="col-md-12 resultBlock">
            <h2 *ngIf="eventSearchResultFull?.length>0">Znaleziono {{eventSearchResultFull?.length}} wydarzeń</h2>
            <h2 *ngIf="eventSearchResultFull?.length<=0">Nie znaleziono wydarzeń według podanych kryteriów</h2>
            <div class="row resultBlock" *ngIf="eventSearchResultFull?.length>0">
              <div class="col-md-offset-1 col-md-10">
                <nav aria-label="...">
                  <ul class="pager">
                    <li class="myHover" *ngIf="isPrevAvl"><a (click)="prevPage()"><i class="fa fa-arrow-left"></i> Poprzednie</a></li>
                    <li class=""><span>Strona {{siteNo+1}}/{{siteCount}}</span></li>
                    <li class="myHover" *ngIf="isNextAvl"><a (click)="nextPage()">Następne <i class="fa fa-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <br>
        </div>
        <!--CIALO LISTY-->
        <div class="row">
          <div *ngFor="let i of eventSearchResult">
            <div class="panel panel-default eventPanel" (click)="goToEvent(i.idEvent)" >
              <!--GORA EVENTU-->

              <div class="panel-body" >
                <!--TYTUL, DATA STARTU, MOZLIWA REJESTRACJA?, BEZPLATNE? TRANSMISJA?-->
                <div class="row">
                  <div class="col-md-2">
                    <!--ikona kalendarza-->
                    <div class="myCalendarContainer">
                      <div class="myCalendarHead">
                        {{i.startTime | date:'MMMM'}}
                      </div>
                      <div class="myCalendarBody">
                        <span style="font-size: 35px">{{i.startTime | date:'d'}}</span>
                        <br>
                        <span><b>{{i.startTime | date:'EEEE'}}</b></span>
                      </div>
                      <div class="myCalendarFooter">
                        <div>{{i.startTime | date:'y'}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <H2>{{i.title}}</H2>
                  </div>
                  <div class="col-md-1">
                    <div style="margin-top: auto; margin-bottom: auto">
                      <div class="row"><!--Rejestracja-->

                        <span class="myIcon" *ngIf="!i.registerEnabled" style="color: rgba(121,103,105,0.24)">
                          <i class="fa fa-fw fa-user-plus"></i>
                        </span>
                        <span class="myIcon" *ngIf="i.registerEnabled" >
                          <i class="fa fa-fw fa-user-plus"></i>
                        </span>

                      </div>
                      <div class="row"><!--BEZPLATNE-->
                        <span class="myIcon" *ngIf="i.freeEntrance" style="color: rgba(121,103,105,0.24)">
                          <i class="fa fa-fw fa-money"></i>
                        </span>

                          <span class="myIcon" *ngIf="!i.freeEntrance" style="color: rgba(16,177,24,0.8)">
                          <i class="fa fa-fw fa-money"></i>
                        </span>
                      </div>
                      <div class="row"><!--TRANSMISJA-->

                        <span class="myIcon" *ngIf="i.youtubeLink?.length>0" style="color: rgba(189,0,0,0.8)">
                          <i class="fa fa-fw fa-youtube"></i>
                        </span>

                        <span class="myIcon" *ngIf="i.youtubeLink==null || i.youtubeLink?.length<=0" style="color: rgba(121,103,105,0.24)">
                          <i class="fa fa-fw fa-youtube"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!--END GORA EVENTU-->
              <!--DOL EVENTU-->
              <div class="panel-footer eventFooter">
                <!--REGION,MIASTO, ILOSC WIZYT, ILOSC GOSCI/POJEMNOSC, TYP-->
                <div class="row" >
                  <div class="col-md-4">
                    <b>{{i.cityName}}</b>, {{i.regionName}}
                  </div>
                  <div class="col-md-4" align="center">
                    Obejrzano: {{i.visits}}
                  </div>
                  <div class="col-md-4" align="right">
                    Zajętość: <b>{{i.registeredGuests}}/{{i.capacity}}</b>
                  </div>
                </div>

              </div>
              <!--END DOL EVENTU-->
            </div>
            <div class="fullLine"></div>
          </div>


        </div>
        <!--END CIALO LISTY-->
        <!--STOPKA LISTY-->
        <div class="row resultBlock" *ngIf="eventSearchResultFull?.length>0">
          <div class="col-md-offset-1 col-md-10">
            <nav aria-label="...">
              <ul class="pager">
                <li class="myHover" *ngIf="isPrevAvl"><a (click)="prevPage()"><i class="fa fa-arrow-left"></i> Poprzednie</a></li>
                <li class=""><span>Strona {{siteNo+1}}/{{siteCount}}</span></li>
                <li class="myHover" *ngIf="isNextAvl"><a (click)="nextPage()">Następne <i class="fa fa-arrow-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!--END STOPKA LISTY-->
      </div>
    </div>
  </div>
</div>


<!--<ul>-->
  <!--<li *ngFor="let i of markers">Marker {{i.label}} {{i.lat}} {{i.lng}}</li>-->
<!--</ul>-->

