<div id="mySideMap" class="sidePage">
  <div class="map-pannel" id="mapPannel">  <!--MAPA-->
    <sebm-google-map class="map-wrapper" id="SebmGoogleMap"
             [latitude]="lat"
             [longitude]="lng"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             [zoomControl]="false"
             (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>Treść znacznika {{i}}:{{m.label}}</strong>
          <p>
          Aliquam ante sapien, sodales non lectus a, maximus dapibus eros. Phasellus blandit purus accumsan, convallis purus et, semper ligula. Duis ante orci, tincidunt eget libero id, pretium tempus turpis. Etiam tortor turpis, molestie sed auctor et, malesuada sit amet velit. Maecenas eget arcu tortor. Duis viverra ex mi, quis venenatis erat consequat ac. Donec ac nisi leo. Sed efficitur pharetra eros, sit amet iaculis libero placerat et. Aliquam blandit diam eu quam tempus, nec vulputate magna venenatis. In et arcu porttitor, tristique risus vel, imperdiet urna. Ut sagittis, elit eu volutpat ultrices, ligula est rutrum est, sit amet elementum lacus dolor ut libero. Maecenas congue mauris placerat, hendrerit enim sit amet, accumsan velit. Mauris et orci sapien. Aliquam viverra maximus arcu, eu tincidunt sapien dapibus at. Duis consequat, lacus a pharetra tempor, lacus purus consectetur turpis, quis laoreet tellus nisl vitae turpis.
          </p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div><!--END MAPA-->
  <a class="closebtn" (click)="changeSlideStatus()">
    <i [hidden]="!isSlideHide" class="fa fa-caret-square-o-right"></i>
    <i [hidden]="isSlideHide" class="fa fa-caret-square-o-left"></i>
  </a>
  <div id="mySideMapTitle" [hidden]="isSlideHide" ><h3>Kliknij w miejscu gdzie szukasz wydarzeń</h3>
    <form>
      Zasięg: {{kilometersRange}} km. Przelicznik km do stopnie = {{kmToDeg}}
      <input type="range" #ref name="points" min="1" max="100" (change)="changeRange(ref.value)">
    </form>
  </div>
</div>


<!--TRESC STRONY-->
<div class="row">
  <!--NAGLOWEK-->
  <div class="col-md-offset-1 col-md-11">

    <p>Znajdź wydarzenia blisko Ciebie, ustaw znacznik na mapie by pokazać gdzie jesteś.</p>
  </div>
</div>
<div class="row">
  <!--GLOWNE CIALO-->
  <div class="col-md-11 col-md-offset-1">
    <!--WYSZUKIWARKA-->
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <!--FORMULARZ-->
        <form>
          <div class="row">
            <div class="col-md-2">
              <span
            </div>
            <div class="col-md-8">
              <div class="form-group-lg" >
                <input type="text"  class="form-control" id="textContent" [(ngModel)]="eventSearchForm.textContent" name="textContent" [formControl]="complexForm.controls['textContent']">
                </div>



            </div>
            <div class="col-md-2">

            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group" >
                <label for="dateFrom">Od:</label>
                <input type="date" class="form-control" id="dateFrom" [(ngModel)]="dataRozpoczeciaPomoc" name="dateFrom" [formControl]="complexForm.controls['dateFrom']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" >
                <label for="dateTo">Od:</label>
                <input type="date" class="form-control" id="dateTo" [(ngModel)]="dataZakonczeniaPomoc" name="dateTo" [formControl]="complexForm.controls['dateTo']">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="regionName">Region:</label>
                <select class="form-control" [(ngModel)]="eventSearchForm.region" name="regionName" id="regionName" (click)="getEventCities(eventSearchForm.region)">
                  <option *ngFor="let i of regions" [ngValue]="i">{{i.regionName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="cityName">Miasto:</label>
                <select class="form-control" [(ngModel)]="eventSearchForm.city" name="cityName" id="cityName">
                  <option *ngFor="let i of cities" [ngValue]="i">{{i.cityName}}</option>
                </select>
              </div>
            </div>
          </div>



        </form>

      </div>

    </div>
    <!--LISTA ZWROTNA-->
    <div class="row">

    </div>
  </div>
</div>


<ul>
  <li *ngFor="let i of markers">Marker {{i.label}} {{i.lat}} {{i.lng}}</li>
</ul>

<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>

