<div id="mySideMap" class="sidePage">
  <div class="map-pannel" id="mapPannel">  <!--MAPA-->
    <sebm-google-map class="map-wrapper" id="SebmGoogleMap"
             [latitude]="lat"
             [longitude]="lng"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             [zoomControl]="false"
             (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>Treść znacznika {{i}}:{{m.label}}</strong>
          <p>
          Aliquam ante sapien, sodales non lectus a, maximus dapibus eros. Phasellus blandit purus accumsan, convallis purus et, semper ligula. Duis ante orci, tincidunt eget libero id, pretium tempus turpis. Etiam tortor turpis, molestie sed auctor et, malesuada sit amet velit. Maecenas eget arcu tortor. Duis viverra ex mi, quis venenatis erat consequat ac. Donec ac nisi leo. Sed efficitur pharetra eros, sit amet iaculis libero placerat et. Aliquam blandit diam eu quam tempus, nec vulputate magna venenatis. In et arcu porttitor, tristique risus vel, imperdiet urna. Ut sagittis, elit eu volutpat ultrices, ligula est rutrum est, sit amet elementum lacus dolor ut libero. Maecenas congue mauris placerat, hendrerit enim sit amet, accumsan velit. Mauris et orci sapien. Aliquam viverra maximus arcu, eu tincidunt sapien dapibus at. Duis consequat, lacus a pharetra tempor, lacus purus consectetur turpis, quis laoreet tellus nisl vitae turpis.
          </p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div><!--END MAPA-->
  <a class="closebtn" (click)="changeSlideStatus()">
    <i [hidden]="!isSlideHide" class="fa fa-caret-square-o-right"></i>
    <i [hidden]="isSlideHide" class="fa fa-caret-square-o-left"></i>
  </a>
  <div id="mySideMapTitle" [hidden]="isSlideHide" ><h3>Kliknij w miejscu gdzie szukasz wydarzeń</h3>
    <form>
      Zasięg: {{kilometersRange}} km. Przelicznik km do stopnie = {{kmToDeg}}
      <input type="range" #ref name="points" min="1" max="100" (change)="changeRange(ref.value)">
    </form>
  </div>
</div>




<h2>Animated Sidenav Example</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" (click)="changeSlideStatus()">&#9776; open</span>
<ul>
  <li *ngFor="let i of markers">Marker {{i.label}} {{i.lat}} {{i.lng}}</li>
</ul>

<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>
<div class="blok">asfsdfsfsdffds</div>

