/*SLIDE MENU*/
.sidePage{
  border-top-right-radius :1em;
  border-bottom-right-radius:1em;
  border: 2px solid #73AD21;
  width: 8%;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  background-color: #e95420;
  overflow-x: hidden;
  transition: 0.5s;
  padding-left:2px;
  padding-top:10px;
  padding-right:5px;
  padding-bottom:10px;
}

.sidePage a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #180811;
  display: block;
  transition: 0.3s;
}

.sidePage a:hover, .offcanvas a:focus{
  color: firebrick;
}

.sidePage .closebtn {
  position: absolute;
  top: 45%;
  right: 2px;
  font-size: 50px;
  margin-left: 50px;
}


/*MAPA*/
.map-pannel{
  position: relative;
  width: 100%;
  min-height: 350px;
}
.map-wrapper{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

::-webkit-scrollbar {
  display: none;
}


/*BLOK TESTOWY*/
.blok{
  margin-top: 50px;
  margin-bottom: 300px;
  padding: 100px;
  height: 300px;
  width: 100%;
  background-color: #6f675e;
}
